---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import

    "skins/{{ site.text_skin | default: site.data.variables.default.text_skin }}",
    // "skins/chocolate",
    // "skins/dark",
    // "skins/default",
    // "skins/forest",
    // "skins/ocean",
    // "skins/orange",

    "skins/highlight/{{ site.highlight_theme | default: site.data.variables.default.highlight_theme }}",
    // "skins/highlight/tomorrow",
    // "skins/highlight/tomorrow-night",
    // "skins/highlight/tomorrow-night-eighties",
    // "skins/highlight/tomorrow-night-blue",
    // "skins/highlight/tomorrow-night-bright",


    "common/variables",
    "common/function",
    "common/classes",
    "common/reset",
    "common/print",
    "common/components/button",
    "common/components/image",
    "common/components/card",
    "common/components/gallery",
    "common/components/hero",
    "common/components/menu",
    "common/components/modal",
    "common/components/toc",
    "common/components/item",
    "common/components/swiper",

    "animate/fade-in",
    "animate/fade-in-down",
    "animate/fade-in-up",

    "components/main",
    "components/header",
    "components/footer",
    "components/article-list",
    "components/article-info",
    "components/article-header",
    "components/article-content",
    "components/article-footer",
    "components/author-links",
    "components/author-profile",
    "components/tags",
    "components/search",
    "components/lightbox",
    "components/extensions",


    "additional/alert",
    "additional/tag",
    "additional/photo-frame",

    "layout/base",
    "layout/page",

    "layout/article",
    "layout/articles",
    "layout/archive",
    "layout/home",
    "layout/landing",
    "layout/404",

    "custom"
;


.table-images {
    max-width: 200px;
    min-width: 180px;
}

.two-col-table-with-left-images {
    table-layout: fixed;
    td {
        padding: 3px;
    }
    td:nth-child(2) {
        max-width: 300px;
        min-width: 100px;
    }
}

.three-col-table {
    td:nth-child(n+2)  {
        width: 350px;
    }
   
    table-layout: fixed;
}

section > h3, section > h4 {
    cursor: default;
    position: relative;
    display: inline-block;
}

section > h3:after, section > h4:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    bottom: 0px;
    left: 0;
    background: #00adb5;
}

h1 {
    text-decoration: none;
    position: relative;
    display: inline-block;
}
  
h1:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    bottom: 0px;
    left: 0;
    background: #00adb5;
    // transform-origin: 0%;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
}

h1:hover { 
    &:after {
      transform: scaleX(1);
      transition: transform 0.3s ease-out;   
    } 
}

pre.code {
    border: 1px solid #ddd;
    padding: 6px 5px;
    font-size: 13px;
    // margin: 10px;
}

/* scroll-to-top CSS */
div {
  height: 1000px;
}

#scroll-to-top {
  position: fixed;
  font-size: 20px;
  bottom: 10%;
  right: 10%;
  opacity: 1;
  z-index: 10;
  cursor: pointer; 
}
/* scroll-to-top CSS End */

/* Progress Bar CSS */
#progress-bar {
    // background: no-repeat linear-gradient(to right, #00adb5 var(--scroll), transparent 0);
    background: linear-gradient(to right,red, orange , yellow, green, cyan, blue, violet var(--scroll), transparent 0);
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 3px;
    z-index: 1;
}
/* Progress Bar CSS End */